body {
    background-image: url(images/survey-background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#title {
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
    color: rgb(6, 6, 39);
    background-image: linear-gradient(90deg, #EADEDB, #BFD641);
}
#description {
    margin-top: 0;
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    color: rgb(6, 6, 39);
    background-image: linear-gradient(90deg, #EADEDB, #BFD641);
}
#survey-form {
    background-color: #4d7dbc;
    margin: auto;
    width: 80vw;
    max-width: 800px;
    min-width: 300px;
}
#first-field {
    font-size: 2rem;
    padding: 1rem;
    border: none;
    color: rgb(225, 225, 238);
}
#second-field, #third-field {
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    color: rgb(225, 225, 238);
}
#buttons {
    text-align: center;
}
#reset, #submit {
    /* background-color: #1f1853; */
    background-image: linear-gradient(90deg, #1f1853, #BC70A4);
    color: rgb(225, 225, 238);
    border: none;
    width: 75%;
    height: 4vw;
    margin: 1rem;
    border-radius: 5px;
}
#dropdown {
    width: 100%;
    background-color: #1f1853;
    border: none;
    color: rgb(225, 225, 225);
    height: 24px;
}
#name-label, #email-label, #number-label{
    height: 24px;
    width: 100%;
    background-image: linear-gradient(90deg, #1f1853,#73c2ce);
    border: none;
    color: rgb(225, 225, 238);
}
#sperma {
    padding-bottom: 1rem;
}
#cool-line {
    width: 95%;
    height: 4px;
    background-color: pink;
    border: none;
}
#message {
    width: 100%;
    height: 8vw;
    font-size: 1.2rem;
    background-color: #1f1853;
    color: rgb(225, 225, 238);
    border-radius: 5px;
}